<template>
<main>
<div>
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.0.9/dist/full.css" rel="stylesheet" type="text/css" />
<div class="navbar bg-base-100">
  <a class="btn btn-ghost normal-case text-xl">daisyUI</a>
</div>
</div>
</main>
</template>
<script>
export default {
  name: 'Base'
}
</script>