<template>
<main>
<Navbar/>
<section>
<div class="bg-white dark:bg-gray-800 ">
    <div class="text-start w-full mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-20">
        <h2 class="text-3xl font-extrabold text-black dark:text-white sm:text-4xl">
            <span class="block">
                Become an instructor
            </span>
            <span class="block text-blue-300">
                It&#x27;s today or never.
            </span>
        </h2>
        <div class="lg:mt-0 lg:flex-shrink-0">
            <div class="mt-12 inline-flex rounded-md shadow">
                <button type="button" class="py-4 px-6  bg-black hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
                    Get started
                </button>
            </div>
        </div>
    </div>
</div>
</section>

<div class="max-w-screen-xl mx-auto p-8">
    <h2 class="text-3xl font-extrabold leading-9 border-b-2 border-gray-100 text-gray-900 mb-12">
        FAQs
    </h2>
    <ul class="flex items-start gap-8 flex-wrap">
        <li class="w-2/5">
            <p class="text-lg font-medium leading-6 text-gray-900">
                What is a home energy rating?
            </p>
            <p class="mt-2">
                <p class="text-base leading-6 text-gray-500">
                    A home energy rating is an estimated calculation into a homes potential energy usage, which will determine the amount of heating and cooling required to make its occupants comfortable. It produces a star rating dependant on the amount of heating and cooling loads which will be required, from 0 to 10 stars.
                </p>
            </p>
        </li>
        <li class="w-2/5">
            <p class="text-lg font-medium leading-6 text-gray-900">
                Why do I need a 6 Star energy rating?
            </p>
            <p class="mt-2">
                <p class="text-base leading-6 text-gray-500">
                    In most Australian states the government requires that all new homes and apartments (along with certain types of building extensions) built since 2010 be energy rated and achieve a minimum of 6 Stars.
                </p>
            </p>
        </li>
        <li class="w-2/5">
            <p class="text-lg font-medium leading-6 text-gray-900">
                What is the general cost of an energy rating?
            </p>
            <p class="mt-2">
                <p class="text-base leading-6 text-gray-500">
                    Simple energy rating prices vary greatly on the size and type of building, generally an energy rating will cost somewhere between $130 to $700+.
                </p>
            </p>
        </li>
        <li class="w-2/5">
            <p class="text-lg font-medium leading-6 text-gray-900">
                What information do I need to supply for an energy rating to be completed??
            </p>
            <p class="mt-2">
                <p class="text-base leading-6 text-gray-500">
                    The information required to complete a full and comprehensive energy report are the following final working drawings: Site Plan, Floor Plan, Elevations, Sections, Lighting layout and window schedule (including sizes of the existing windows).
                </p>
            </p>
        </li>
        <li class="w-2/5">
            <p class="text-lg font-medium leading-6 text-gray-900">
                Does building an extension need an energy rating?
            </p>
            <p class="mt-2">
                <p class="text-base leading-6 text-gray-500">
                    Depended on the size of the extension you are building there is a chance that it too will need to be energy rated. It&#x27;s always best to check first before going ahead with construction.
                </p>
            </p>
        </li>
        <li class="w-2/5">
            <p class="text-lg font-medium leading-6 text-gray-900">
                What is the general cost of an energy rating?
            </p>
            <p class="mt-2">
                <p class="text-base leading-6 text-gray-500">
                    Depended on the size of the extension you are building there is a chance that it too will need to be energy rated. It&#x27;s always best to check first before going ahead with construction.
                </p>
            </p>
        </li>
    </ul>
</div>

</main>
</template>

<script>
import Tutorial from '../components/Tutorial.vue';
import Navbar from '../components/navbar.vue';

if (process.browser) {
  require('flowbite');
}
export default {
    name: "IndexPage",
    data: function () {
        return {
            was: "Key"
        };
    },
    components: { Tutorial, Navbar }
}
</script>
